.wy-side-nav-search {
    background-color: #e9e5d6;
}

.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    color: #926e6f;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #926e6f;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    border-top: #926e6f;
    border-top-width: 3px;
    border-top-style: solid;
    color: #926e6f;
    background: #e9e5d6;
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    border-left: #926e6f;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #926e6f;
}